<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itrip.dao.itripLabelDic.ItripLabelDicMapper">

    <select id="list" resultType="cn.itrip.pojo.ItripLabelDic" >
        SELECT *from itrip_label_dic WHERE parentid =6
    </select>

    <select id="getItripLabelDicListByMap" resultType="cn.itrip.pojo.ItripLabelDic" parameterType="java.util.Map">
        select
                id as id,
                name as name,
                value as value,
                description as description,
                parentId as parentId,
                pic as pic,
                creationDate as creationDate,
                createdBy as createdBy,
                modifyDate as modifyDate,
                modifiedBy as modifiedBy
        from itrip_label_dic
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="id != null and id!=''">
                        and id=#{id}
                    </if>
                    <if test="name != null and name!=''">
                        and name=#{name}
                    </if>
                    <if test="value != null and value!=''">
                        and value=#{value}
                    </if>
                    <if test="description != null and description!=''">
                        and description=#{description}
                    </if>
                    <if test="parentId != null and parentId!=''">
                        and parentId=#{parentId}
                    </if>
                    <if test="pic != null and pic!=''">
                        and pic=#{pic}
                    </if>
                    <if test="creationDate != null and creationDate!=''">
                        and creationDate=#{creationDate}
                    </if>
                    <if test="createdBy != null and createdBy!=''">
                        and createdBy=#{createdBy}
                    </if>
                    <if test="modifyDate != null and modifyDate!=''">
                        and modifyDate=#{modifyDate}
                    </if>
        </trim>
         order by creationDate desc
        <if test="beginPos != null and beginPos!='' and pageSize != null  and pageSize !='' ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getItripLabelDicCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from itrip_label_dic
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="name != null and name!=''">
                    and name=#{name}
                </if>
                <if test="value != null and value!=''">
                    and value=#{value}
                </if>
                <if test="description != null and description!=''">
                    and description=#{description}
                </if>
                <if test="parentId != null and parentId!=''">
                    and parentId=#{parentId}
                </if>
                <if test="pic != null and pic!=''">
                    and pic=#{pic}
                </if>
                <if test="creationDate != null and creationDate!=''">
                    and creationDate=#{creationDate}
                </if>
                <if test="createdBy != null and createdBy!=''">
                    and createdBy=#{createdBy}
                </if>
                <if test="modifyDate != null and modifyDate!=''">
                    and modifyDate=#{modifyDate}
                </if>
                <if test="modifiedBy != null and modifiedBy!=''">
                    and modifiedBy=#{modifiedBy}
                </if>
        </trim>
    </select>

    <insert id="insertItripLabelDic" parameterType="cn.itrip.pojo.ItripLabelDic">
        insert into itrip_label_dic(
                        name,
                        value,
                        description,
                        parentId,
                        pic,
                        creationDate,
                        createdBy,
                        modifyDate,
                        modifiedBy)
        values(
                     #{name},
                     #{value},
                     #{description},
                     #{parentId},
                     #{pic},
                     #{creationDate},
                     #{createdBy},
                     #{modifyDate},
                    #{modifiedBy})
    </insert>

    <update id="updateItripLabelDic" parameterType="cn.itrip.pojo.ItripLabelDic">
        update itrip_label_dic
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                    <if test="id != null and id!=''">
                        id=#{id},
                    </if>
                    <if test="name != null and name!=''">
                        name=#{name},
                    </if>
                    <if test="value != null and value!=''">
                        value=#{value},
                    </if>
                    <if test="description != null and description!=''">
                        description=#{description},
                    </if>
                    <if test="parentId != null and parentId!=''">
                        parentId=#{parentId},
                    </if>
                    <if test="pic != null and pic!=''">
                        pic=#{pic},
                    </if>
                    <if test="creationDate != null and creationDate!=''">
                        creationDate=#{creationDate},
                    </if>
                    <if test="createdBy != null and createdBy!=''">
                        createdBy=#{createdBy},
                    </if>
                    <if test="modifyDate != null and modifyDate!=''">
                        modifyDate=#{modifyDate},
                    </if>
                    <if test="modifiedBy != null and modifiedBy!=''">
                        modifiedBy=#{modifiedBy}
                    </if>
        </trim>
    </update>

    <delete id="deleteItripLabelDicById" parameterType="Long">
        delete from itrip_label_dic where id = #{id}
    </delete>
</mapper>